@use "../styles/base/variables" as *;

.top-bar {
  background-color: $primary-color;
  color: white;
  display: flex;
  justify-content: center;
  height: 56px;
}

.top-bar-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 23px;
  padding: 10px 20px;
}

.top-bar-item {
  display: flex;
  align-items: center;
  gap: 15px;

  img {
    width: 16px;
  }
}

@media (max-width: 640px) {
  .top-bar {
    height: 48px;
  }

  .top-bar-content {
    padding: 8px 12px;
    gap: 12px;
  }

  .top-bar-item {
    gap: 8px;
  }
}