@use "../../styles/base/variables" as *;

.services {
  width: 100%;
  display: flex;
  justify-content: center;
}

.services-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.service-card {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 24px;
  border: #e1e1e1 1px solid;
  border-radius: 11px;
  padding: 26px;

  img {
    max-height: 58px;
    max-width: 58px;
    padding: 16px;
    background-color: #f3f4f6;
    box-sizing: border-box;
    border-radius: 7px;
  }
}
