@use "../../styles/base/variables" as *;

.info {
  background-color: #f3f3f3;
  width: 100%;
  padding: 80px 0;
  display: flex;
  justify-content: center;
}

.info-container {
  width: 100%;
  max-width: 1200px;
}
