.hero {
  background-image: url("/hero_back.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;

  .hero-black {
    position: absolute;
    background-color: linear-gradient(
      rgba(26, 26, 26, 0.8),
      rgba(26, 26, 26, 0.8)
    );

    height: 100%;
    width: 100%;
  }
}
