@use "../../styles/base/variables" as *;

.hero {
  background-image: url("/hero_back.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .hero-black {
    position: absolute;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.742),
      rgba(0, 0, 0, 0.43)
    );

    height: 100%;
    width: 100%;
  }
}

.hero-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  gap: 38px;
  flex-direction: column;
  display: relative;
  z-index: 1;
}

.hero-button {
  background-color: $primary-color;
  color: white;
  border: none;
  padding: 15px 30px;
  width: 300px;
  height: 60px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;

  &:hover {
    background-color: $primary-color-hover;
  }

  &:active {
    background-color: $primary-color-active;
  }
}
