@use "../../styles/base/variables" as *;

.about-us {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-us-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 46px;
  margin-bottom: 170px;
}

@media (max-width: 900px) {
  .about-us-container {
    gap: 30px;
    margin-bottom: 120px;
    padding: 0 16px;
  }
}

@media (max-width: 640px) {
  .about-us-container {
    gap: 20px;
    margin-bottom: 80px;
    padding: 0 12px;
  }
}