// Цвета
$primary-color: #1167b1;
$primary-color-hover: #0d5291;
$primary-color-active: #0a3d70;

$dark-gray: #1a1a1a;
$dark-hover: #2a2a2a;
$dark-active: #3a3a3a;
$medium-gray: #5a5a5a;
$light-gray: #e6e6e6;
$background: #ffffff;

$blue: #2b7fff;
$pink: #f6339a;
$purple: #ad46ff;
$orange: #ff6900;
$green: #00c950;

// Шрифты
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Настройки шрифтов
$font-synthesis: none;
$text-rendering: optimizeLegibility;
$webkit-font-smoothing: antialiased;
$moz-osx-font-smoothing: grayscale;
