@use "../../styles/base/variables" as *;


.services {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.services-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
}

.service-card {
  text-align: left;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 18px;
  border: #e1e1e1 1px solid;
  border-radius: 11px;
  padding: 26px;
  transition: 0.3s;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

  img {
    max-height: 58px;
    max-width: 58px;
    padding: 16px;
    background-color: #f3f4f6;
    box-sizing: border-box;
    border-radius: 7px;
  }

  &:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 7px 17px -7px rgba(0, 0, 0, 0.25);
  }
}


@media (max-width: 900px) {
  .services-cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (max-width: 640px) {
  .services-cards {
    grid-template-columns: 1fr;
  }
}